<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurefunctionjsondata20250921190049-functiongetjson.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1d511787-8fde-4511-a535-7209be7b7074/resourceGroups/appsvc_linux_centralus_premium/providers/Microsoft.Web/sites/azurefunctionjsondata20250921190049/slots/functiongetjson</ResourceId>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishUrl>https://azurefunctionjsondata20250921190049-functiongetjson.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>